h1 {
  font-size: 2em;
  font-family: 'FranklinGothicMedium', 'ArialNarrow', Arial, sans-serif;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

hr {
  border: 1px solid;
  width: 100%;
}